
.commingSoonGD {
    background: #584D89;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}



.commingSoonParallax { 
    /* The image used */

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

